<div class="container text-black-50 bg-light py-4 my-sm-5 shadow-sm">
  <h3>ユーザ登録</h3>
  <div class="border-bottom border-primary d-block mb-3"></div>
  <%= form_for @user do |f| %>
    <div class="form-group row">
      <%= f.label :保護者氏名, class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= f.text_field :name, class: "form-control", placeholder: "保護者氏名を入力" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :メールアドレス, class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= f.text_field :email, class: "form-control", placeholder: "メールアドレスを入力" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :パスワード, class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :パスワード（確認用）, class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= f.password_field :password_confirmation, class: "form-control mb-2", placeholder: "パスワード（確認用）を入力" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-5">
        <button type="submit" class="btn btn-primary">登録する >></button>
      </div>
    </div>
  <% end %>
  <%= link_to 'ログインはこちら', login_path ,class: 'text-black-50' %>
</div>