<main>
  <!-- メインビジュアル -->
  <div class="pb-4">
    <!-- ジャンボトロン設置 -->
    <div class="jumbotron jumbotron-fluid text-white text-center">
      <div class="container">
        <h1 class="display-4">Stitch to Embroidery</h1>
        <p class="lead">チェアカバー刺繍の割引サービス</p>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Web受付する »</a>
      </div>
    </div>
  </div>
    <!-- ジャンボトロン設置 -->
  <!-- / メインビジュアル -->
  <!-- コンテンツ01 -->
  <div class="pb-4">
    <div class="container">
      <div class="row text-black-50 text-center">
        <div class="col-12 pb-2">
          <h1 class="mb-4">Flow</h1>
          <p>受付の流れについて</p>
        </div>
        <div class="col-md-5 py-2"><%= image_tag 'b0-10.png' %></div>
        <div class="col-md-7 py-2">
          <p class="text-left">お名前・入れ方・書体・糸色を事前にWeb入力していただくことで店頭でのやりとりがスムーズに。割引サービスでお客様に還元します。</p>
        </div>
        <div class="col-md-5 py-2"><%= image_tag 'b0-7.png' %></div>
        <div class="col-md-7 py-2">
          <p class="text-left">２〜３日中に刺繍イメージが作成され、画面上で確認できるようになります。確認の上カバーをお預け頂きます。</p>
        </div>
        <div class="col-md-5 py-2"><%= image_tag 'b0-9.png' %></div>
        <div class="col-md-7 py-2">
          <p class="text-left">お預かり後、刺繍に入ります。7〜10日中に仕上がります。店頭にてお支払い頂き、お受け取りとなります。念のため刺繍完了となっているか画面でご確認の上お越しください。</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /コンテンツ01 -->
  <!-- コンテンツ02 -->
  <div class="py-4">
    <div class="container">
      <div class="row text-black-50 text-center bg-light">
        <div class="col-12 pb-2">
          <h1 class="mb-4">Price</h1>
          <p>料金について</p>
        </div>
        <div class="col-md-5 py-2"><%= image_tag 'b0-8.png' %></div>
        <div class="col-md-7 py-2">
          <table class="table table-striped text-black-50 text-left">
            <tbody>
              <tr>
                <th>漢字・ひらがな・カタカナ・アルファベット(1行)</th>
                <td>1300円（税別）</td>
              </tr>
              <tr>
                <th>漢字・ひらがな・カタカナ・アルファベット(振り仮名つき2行)</th>
                <td>800円（税別）</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /コンテンツ02 -->
  <!-- コンテンツ05 -->
  <div class="py-4">
    <section id="information">
      <div class="container">
        <div class="row text-black-50 text-center">
          <div class="col-12 pb-2">
            <h1 class="mb-4">Information</h1>
            <p>店舗について</p>
          </div>
          <div class="col-md-5 py-2"><%= image_tag 'b0-11.png' %></div>
          <div class="col-md-7 py-2">
            <p class="text-left">御殿場森の腰ショッピングセンター エピのすぐ裏にある刺繍専門店です。</p>
          </div>
        </div>
        <div class="row text-black-50">
          <!-- 左側セクション -->
          <div class="col-md-6">
            <section id="shop">
              <h4 class="mb-3">Shop</h4>
              <!-- 店舗情報の表 -->
              <table class="table table-hover text-black-50">
                <tbody>
                  <tr>
                    <th>店名</th>
                    <td>タシロ刺繍</td>
                  </tr>
                  <tr>
                    <th>住所</th>
                    <td>〒412-0045 静岡県御殿場市川島田527-1</td>
                  </tr>
                  <tr>
                    <th>電話番号</th>
                    <td>0550-83-5607</td>
                  </tr>
                  <tr>
                    <th>営業時間</th>
                    <td>9:00～20:00</td>
                  </tr>
                  <tr>
                    <th>定休日</th>
                    <td>日曜日</td>
                  </tr>
                  <tr>
                    <th> クレジットカード</th>
                    <td>利用不可</td>
                  </tr>
                  <tr>
                    <th>駐車場</th>
                    <td>駐車場あり</td>
                  </tr>
                </tbody>
              </table>
              <!-- /店舗情報の表 -->
            </section>
          </div>
          <!-- /左側セクション -->
          <!-- 右側セクション -->
          <div class="col-md-6">
            <section id="access">
              <h4 class="mb-3">Access</h4>
              <!-- アクセスマップ -->
              <div class="embed-responsive embed-responsive-4by3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1887.9947884281607!2d138.92807163325057!3d35.29731654579684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6019764f6c64c13d%3A0x7ad7b03cdf7c0d60!2z44K_44K344Ot5Yi657mN!5e0!3m2!1sja!2sjp!4v1587522657425!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              </div>
              <!-- /アクセスマップ -->
              <p>御殿場駅から徒歩6分</p>
            </section>
          </div>
          <!-- /右側セクション -->
        </div>
      </div>
    </section>
  </div>
  <!-- /コンテンツ05 -->
</main>
<!-- /メイン -->
<!-- フッター -->
<footer class="py-4 bg-dark text-light">
  <div class="container text-center">
      <small>Copyright &copy;2020 タシロ刺繍, All Rights Reserved.</small>
    </p>
  </div>
</footer>
