<!DOCTYPE html>
<html>
  <head>
    <title>Stitched</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-links-track': 'reload' %>
    <meta name="viewport" content="width=device-width">

  <body>
    <!-- ナビゲーションバー -->
    <header class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <div class="container">
        <%= link_to 'Stitched', '/', class: 'navbarーbrand text-white h3 m-0' %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link m-0' %></li>
            <% else %>
              <li><%= link_to 'ログイン', login_path, class: 'nav-link m-0' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <%= yield %>
  </body>
</html>